<% articleList.forEach(function(article) { %>
	<div class="row">
		<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-xs-6">
			<a href="<%= article.url %>" class="articleTitle">
				<img src="<%= article.image %>" class="articleImg">
			</a>
		</div>
		<div class="col-lg-5 col-md-5 col-xs-6" align="left">
			<h4>
				<a href="<%= article.url %>" class="articleTitle">
					<%= article.title %>
				</a>
			</h4>
			<h5><%= article.authorname %></h5>
			<% if (article.isPublished === 2) { %>
				<h5><%= article.pubDate %></h5>
			<% } else { %>
				<h5><%= article.updateDate %></h5>
				<a href="/article/<%= article.articleId %>/delete">Delete article</a>
			<% } %>
			<% if (article.isPublished === 0) { %>
				<br>
				<h5 class="goldh5">Saved Locally</h5>
			<% } else if (article.isPublished === 1) { %>
				<br>
				<h5 class="goldh5">Submitted for Review</h5>
			<% } %>
		</div>
	</div>
	<br>
<% }); %>
