<!DOCTYPE html>
<html <%- head.htmlAttributes.toString() %>>
<head>
  <%- head.title.toString() %>
  <%- head.meta.toString() %>
  <%- head.link.toString() %>
  <link rel="stylesheet" type="text/css" href="/public/css/style.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"
        rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</head>
<body>
<div id="mount"><%- env === 'production' ? appHTML : null %></div>
<script>window.__data = <%- state %></script>
<% if (env === 'production') { %>
<script src="/public/bundle.js" async defer></script>
<% } else { %>
<script src="http://localhost:8080/public/bundle.js" async defer></script>
<% } %>
</body>
</html>