<!DOCTYPE html>
<html <%- head.htmlAttributes.toString() %>>
<head>
  <%- head.title.toString() %>
  <%- head.meta.toString() %>
  <%- head.link.toString() %>
  <link rel="shortcut icon" href="/public/images/favicon.png"/>
  <meta property="og:site_name" content="Penn Moviegoer"/>
  <meta property="og:type" content="article"/>
  <meta property="fb:app_id" content="132619720416789"/>
  <meta property="fb:admins" content="brad.pettigrew"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" href="/public/css/style.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"
        rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</head>
<body>
<div id="mount"><%- env === 'production' ? appHTML : null %></div>
<script>window.__data = <%- state %></script>
<script type="text/javascript" src="/public/js/raw/fbSDK.js"></script>
<% if (env === 'production') { %>
<script src="/public/bundle.js"></script>
  <% if (!state.token) { %>
  <script src="/public/js/raw/ga.js"></script>
  <% } %>
<% } else { %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="http://localhost:8080/public/bundle.js"></script>
<% } %>
</body>
</html>