<% layout('layout') -%>
<link rel="stylesheet" type="text/css" href="/features.css">

<div class="container">
  <div class="title">Features</div>
  <% for(var i = 0; i < features.length; i++) { %>
  <% if (i === 1) { %>
  <div class="feature-story">
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <a href="<%= features[i].url %>"><img src="<%= features[i].image %>" alt=""
                                              style="width: 100%"></a>
      </div>
      <div class="col-sm-4 col-xs-12">
        <h3><a href="<%= features[i].url %>" class="linkblack"><%= features[i].title %></a></h3>
        <h4>
          <small><%= features[i].date %></small>
          <%= features[i].author %>
        </h4>
      </div>
    </div>
  </div>
  <% } else { %>
  <div class="feature-story">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <h3><a href="<%= features[i].url %>" class="linkblack"><%= features[i].title %></a></h3>
        <h4>
          <small><%= features[i].date %></small>
          <%= features[i].author %>
        </h4>
      </div>
      <div class="col-sm-8 col-xs-12">
        <a href="<%= features[i].url %>"><img src="<%= features[i].image %>" alt=""
                                              style="width: 100%"></a>
      </div>
    </div>
  </div>
  <% } %>
  <% } %>
</div>