<% layout( 'layout' ) -%>

<div id="profile" class="container">
	<div class="title"><h2><small>Articles by</small><br><%= name %></h2></div>
	<div id="bioImage">
    <% if (inConsole) { %>
    <button type="submit" class="btn btn-default btn-sm" id="editBtn"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit bio</button>
    <button type="submit" class="btn btn-default btn-sm" id="pwBtn" data-toggle="modal" data-target=".pw-change-modal"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Change Password</button>
    <button type="submit" class="btn btn-default btn-sm" id="updateProfile">Save</button>
    <% } %>
    <div class="row">
			<div class="col-lg-4 col-sm-4 col-xs-5">
        <div class="profileImg">
          <img src="<%= image %>" id="profileImg"/>
          <form role="form" action="/author/profile/picture" method="post" enctype="multipart/form-data" onerror="window.location='/author/profile'" id="photoForm">
            <input type="file" id="fileInput" name="photo">
            <input type="submit" value="Submit" id="submitPhotoBtn">
          </form>
        </div>
      </div>
			<div class="col-lg-8 col-sm-8 col-xs-7">
        <p id="profileBio"><%= bio %></p>
        <input type="text" class="form-control" id="inputName" value="<%= name %>" onkeydown="if (event.keyCode == 13) document.getElementById('updateProfile').click();">
        <input type="text" class="form-control" id="inputEmail" value="<%= email %>" onkeydown="if (event.keyCode == 13) document.getElementById('updateProfile').click();">
        <textarea class="form-control" rows="4" id="inputBio" onkeydown="if (event.keyCode == 13) document.getElementById('updateProfile').click();"><%= bio %></textarea>
      </div>
    </div>
	</div>
	<div class="row">
		<div class="col-sm-6">
		</div>
		<div class="col-sm-6"><br><br>
			<div class="alert alert-success alert-dismissible" role="alert" id="saveAlert" hidden>
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  Your password has been <strong>changed</strong>!
			</div>
			<div id="issue" class="alert alert-danger" role="alert" align="center" hidden></div>
		</div>
	</div>
  <div class="row">
    <% moviesList.forEach(function(article) { %>
    <div class="top-story">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="<%= article.url %>"><img src="<%= article.image %>" alt="" style="width: 100%;"></a>
        <div class="col-sm-offset-1 col-sm-10 spacebelow">
          <h3><a href="<%= article.url %>" class="black"><%= article.title %></a></h3>
          <h4><small><%= article.pubDate %></small> <%= article.authorname %></h4>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
<% include pwmodal %>