<% layout( 'layout' ) -%>

<div id="profile" class="container">
	<div class="title">Profile</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="profileImg">
				<image src="<%= image %>" id="profileImg"/>
			</div>
			<form role="form" action="/account/profile/picture" method="post" enctype="multipart/form-data" onerror="window.location='/account/profile'" id="photoForm">
				<input type="file" id="fileInput" name="photo">
				<input class="btn btn-default" type="submit" value="Submit" id="submitPhotoBtn">
			</form>
		</div>
		<div class="col-sm-6">
			<button type="submit" class="btn btn-default btn-sm" id="editBtn"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button>
			<br><br>
			<h5 id="profileName"><%= name %></h5>
			<p id="profileBio"><%= bio %></p>

			<br>
			<div class="alert alert-success alert-dismissible" role="alert" id="saveAlert" hidden>
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  Your password has been <strong>changed</strong>!
			</div>
			<button type="submit" class="btn btn-default btn-sm" id="pwBtn" data-toggle="modal" data-target=".pw-change-modal"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Change Password</button>

			<div id="issue" class="alert alert-danger" role="alert" align="center" hidden></div>
			<br>
			<input type="text" class="form-control" id="inputName" value="<%= name %>" onkeydown="if (event.keyCode == 13) document.getElementById('saveBtn').click();">
			<br>
			<textarea class="form-control" rows="6" id="inputBio" onkeydown="if (event.keyCode == 13) document.getElementById('saveBtn').click();"><%= bio %></textarea>
			<br>
			<button type="submit" class="btn btn-default btn-sm" id="saveBtn">Save</button>
		</div>
	</div>
	<br>
</div>

<% include pwmodal %>